@import 'styles.css';

main{
    padding: 1rem;
}
#author-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem 0;
    font-family: var(--headerFont);
}


article.author {
    background-color: var(--bookCardBg);
    box-shadow: var(--shadows);
    /* padding: 1rem 1rem; */
    flex: 0 1 calc(50% - 1rem); 
    box-sizing: border-box;
    /* min-height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-radius: 0.5rem;

    transition: background-color 0.3s ease, font-size 0.3s ease;

&:hover {
    background-color: var(--CTAhover);
    font-size: 1.2rem;
}
a {
    font-family: var(--headerFont);
    font-size: 1.4rem;
    color: var(--bodyTextColor);
    text-decoration: none;
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 0 0.5rem;
    min-height: 100px;
    justify-content: center;
    align-items: center;
        transition: color 0.3s ease;
}
a:hover{
        color: var(--mainBg);
}
}

/* bigger screen*/
@media (min-width: 768px) {
    #author-list{
        justify-content: space-between !important;
        article.author {
            flex: 0 1 calc(25% - 1rem); 
        }
    }
}

 /* bigger screen 
@media (min-width: 1400px) {
    article.author {
        flex: 0 1 calc(20% - 1rem);
    }
} */
