#author-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-family: var(--headerFont);
    padding: 4rem;
}


article.author {
    background-color: var(--titleColor);
    padding: 1rem 1rem;
    flex: 0 1 calc(50% - 1rem); 
    box-sizing: border-box;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    transition: background-color 0.3s ease, font-size 0.3s ease;

&:hover {
    background-color: var(--subTextColor);
    font-size: 1.2rem;
}
a {
    color: var(--bookCardBg);
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0 0.5rem;
}
}
#showMoreAuthors {
    background-color: var(--titleColor);
    color: var(--bookCardBg);
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.7rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    &:hover {
        background-color: var(--subTextColor);
    }
}
/* bigger screen*/
@media (min-width: 768px) {
    article.author {
        flex: 0 1 calc(33.333% - 1rem); 
    }
}

/* bigger screen*/
@media (min-width: 1400px) {
    article.author {
        flex: 0 1 calc(25% - 1rem); 
    }
}
