@import 'styles.css';
.formStyling {
    display: flex;
    flex-direction: column;

    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 113px);
    gap: 1rem;
    padding-inline: 1rem;
    header{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 2rem;
    }
            .groupInput {
            display: flex;
            flex-direction: column;
            align-items: flex-start; 

            label {
                font-family: var(--bodyFont);
                font-weight: 600;
                padding-bottom: 0.2rem;
            }
            
        }
    
}
.inputContainer {
        display: flex;
        gap: 1rem; 
}
.inputContainer > div {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    font-weight: 500; 
}

/* Removes the arrows on number input field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*:disabled{
    background-color: var(--bookCardBg);
    opacity: 0.8;
}