@import 'styles.css';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
section#landingPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 1rem;
    gap: 2rem;

#lp-content {
    display: flex;
    flex-direction: column;

    header {
        margin-bottom: 1rem;
        h2 {
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 1.2rem;
        max-width: 42ch;
    }
}

        .CTA {
        background-color: var(--CTAColor);
        color: var(--bookCardBg);
        text-decoration: none;
        border-radius: 0.5rem;
        padding: 1rem 4rem;
        margin-top: 3rem;
        text-align: center;
        font-size: 1rem;
        box-shadow: var(--shadows);
        transition: 300ms;

        &:hover {
            background-color: var(--CTAhover);
        }
    }
    
        #img-container img {
        display: none;
        }
    }

    #lpBackgroundMobile {
        display: block !important;
        position: absolute; 
        top: 0;
        left: 0;
        opacity: 20%;
        width: 100%;
        height: 99%;
        z-index: -1;
      }
    #lpBackgroundMobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
    @media (min-width: 800px) {
        section#landingPage {
        flex-direction: row;
        align-items: flex-start; 
        justify-content: center;
        gap: 4.5rem;
        }
    
        #lp-content {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        height: 300px;
        
       
        
        .CTA {
            margin-top: auto;
            
        }
        }
    
        #img-container {

        display: flex;
        align-items: flex-start; 
        }
    
        #img-container img {
        display: block !important;
        height: 300px;
        width: auto;
        object-fit: cover; 
        }
    }
    
    #lpBackgroundMobile {
        display: none;
      }