@import 'forms.css';
@import 'styles.css';

.profileFormStyling {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    min-height: calc(100vh - 113px);
    gap: 1rem;

    form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        gap: 1rem;
        
        padding-bottom: 1rem;
        div {
            display: flex;

        }
    }
}


header {
    padding-bottom: 1rem;
}
#memberSince{
    padding-bottom: 1rem;
}

#deleteUserBtn {
    background-color: var(--errorColor);
}