@import 'variables.css';
/* @import 'authors.css'; */
/* @import 'singlebook.css'; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mainBg);

    main {
        font-family: var(--bodyFont);
        max-width: 1024px;
        margin: auto;
        padding-top: 82px;
        min-height: calc(100vh - 115px);
        padding: 100px 1rem 1rem 1rem;
    }
}



h1 {
    padding-top: 1rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--headerFont);
    color: var(--titleColor);
    font-weight: 700;
}

p,
a,
ul,
li {
    font-family: var(--bodyFont);
    color: var(--titleColor);
    font-weight: 400;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

button {
    border: none;
    background-color: var(--CTAColor);
    color: var(--bookCardBg);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadows);
    transition: 300ms;
    cursor: pointer;
}

button:hover {
    background-color: var(--CTAhover);
}

/*  NAV BAR  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    background-color: var(--mainBg);
    box-shadow: var(--shadows);
    z-index: 100;
    flex-wrap: wrap;
    text-align: right;

    #auth-links {
        width: 203px;

        ul {
            
            align-items: flex-end !important;
        }
    }

    .logo {
        height: 50px;
        width: auto;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        a {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;
            text-decoration: none;
            color: var(--titleColor);
            font-size: var(--fontSizeTitleCard);
            font-family: var(--headerFont);
            font-weight: bold;
        }

        img {
            height: 50px;
            width: 50px;
 
        }
    }

    #burger-menu {
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 4px;

        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: var(--titleColor);
            transition: 0.3s;
        }
    }

    ul {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;

        &.show {
            display: flex !important;
        }

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                font-family: var(--bodyFont);
                color: var(--titleColor);
                font-size: 1rem;
            }

            button {
                background: none;
                color: var(--titleColor);
                box-shadow: none;
                font-size: 1rem;
                padding: 0;
            }

            button:hover {
                background: none;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 800px) {
        #burger-menu {
            display: flex;
        }

        ul {
            flex-direction: column;
            background: var(--mainBg);
            padding: 1rem;
            display: none;
            width: 100%;
            position: static;
        }
    }
}

/*##############*/

/*##############*/
.breadcrumb-container {
    padding: 1rem 0;

    ul.breadcrumb {
        breadcrumb {
            padding: 2rem 3rem;
            list-style: none;
        }

        li {
            display: inline;
            font-size: initial;
            /* or whatever base size you'd prefer */
        }

        li:last-of-type {
            font-size: 1.2rem;
        }

        li+li:before {
            padding: 0.5rem;
            color: var(--titleColor);
            content: "/\00a0";
        }

        li a {
            color: var(--titleColor);
            text-decoration: none;
        }

        li a:hover {
            color: var(--titleColor);
            text-decoration: underline;
        }
    }
}

footer {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--mainBg);
    box-shadow: var(--shadows);
    z-index: 100;
    gap: 1rem;

    .logo {
         height: 50px;
        width: 50px;

        a {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;
            text-decoration: none;
            color: var(--titleColor);
            font-size: var(--fontSizeTitleCard);
            font-family: var(--headerFont);
            font-weight: bold;
            width: 100%;
        }

        img {
            height: 50px;
            width: 50px;

        }
    }

    p {
        width: 100%;
        text-align: center;
        font-family: var(--bodyFont);
        font-size: var(--fontSizeP);
        color: var(--titleColor);
        font-size: 1rem;
        order: 1;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        text-align: center;
        font-family: var(--bodyFont);

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                font-family: var(--bodyFont);
                color: var(--titleColor);
                font-size: 1rem;

            }
        }
    }
}

@media (min-width: 800px) {
    footer {
        flex-direction: row !important;

        p {
            text-align: right !important;
            order: 0;
        }

        ul {
            text-align: right !important;
        }
    }
}

input {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    box-shadow: var(--shadows);
    padding: 1rem;
    color: var(--subTextColor);
}

input:focus {
    outline: 1px solid var(--CTAColor);
}


.hidden {
    display: none !important;
}


/* CARD ANIMATION */
.book-card-element {
    overflow: hidden;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.6s forwards;
}

.book-card-element:hover {
    transform: translateY(-5px);
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.inputError {
    outline: 1px solid var(--errorColor);
}

#messageCon {

    font-family: var(--bodyFont);
    color: white;
    background: var(--errorColor);
    padding: 0.5rem 1rem;
    border-radius: 1rem;

}

#messageCon.error {
    background: var(--errorColor);

}

#messageCon.error-text {
    background-color: none;
    color: var(--errorColor);
}

/* MODAL */

#loaned-book-modal {
    width: 80%;
    max-width: 1024px;
    height: 30%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    align-content: center;
    border: none;
    box-shadow: var(--shadows);

    #modal-content {

        header {
            gap: 1rem;
            padding: 0;

            h2 {
                margin-bottom: 0.4rem;
            }
        }

        .close {
            background-color: white !important;
            color: black !important;
            border: none !important;
            box-shadow: none !important;
            position: absolute;
            padding: 0 !important;
            top: 4%;
            right: 4%;
            z-index: 100;
            font-size: 1.5rem;
        }
    }
}