@import 'variables.css';
@import 'authors.css';
@import 'home.css';
@import 'singlebook.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mainBg);

    main {
        max-width: 1024px;
        margin: auto;
        padding-top: 82px;
    }
}

main {
    min-height: calc(100vh - 115px);
}

h1 {
    padding-top: 1rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--headerFont);
    color: var(--titleColor);
}

p,
a {
    font-family: var(--bodyFont);
    font-size: var(--fontSizeP);
}

button {
    border: none;
    background-color: var(--CTAColor);
    color: var(--bookCardBg);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadows);
    transition: 300ms;
}

button:hover {
    background-color: var(--CTAhover);
}

/*  NAV BAR  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    background-color: var(--mainBg);
    box-shadow: var(--shadows);
    z-index: 100;


    .logo {

        a {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;
            text-decoration: none;
            color: var(--titleColor);
            font-size: var(--fontSizeTitleCard);
            font-family: var(--headerFont);
            font-weight: bold;
        }

        img {
            height: 50px;
            width: 50px;

        }
    }




    ul {
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: end;

        li {
            list-style-type: none;


            a {
                text-decoration: none;
                font-family: var(--bodyFont);
                color: var(--titleColor);
                font-size: 1rem;

            }
        }
    }

}
.breadcrumb-container {
    padding: 1rem 0;

ul.breadcrumb{
    breadcrumb {
    padding: 2rem 3rem;
    list-style: none;
    }

    li {
        display: inline;
        font-size: initial; /* or whatever base size you'd prefer */
    }
    
    li:last-of-type {
        font-size: 1.2rem;
    }

    li+li:before {
        padding: 0.5rem;
        color: var(--titleColor);
        content: "/\00a0";
    }

    li a {
        color: var(--titleColor);
        text-decoration: none;
    }

    li a:hover {
        color: var(--titleColor);
        text-decoration: underline;
    } 
}
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--mainBg);
    box-shadow: var(--shadows);
    z-index: 100;

    .logo {


        a {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;
            text-decoration: none;
            color: var(--titleColor);
            font-size: var(--fontSizeTitleCard);
            font-family: var(--headerFont);
            font-weight: bold;
            width: 100%;
        }

        img {
            height: 50px;
            width: 50px;

        }
    }

    p {
        width: 100%;
        text-align: right;
        font-family: var(--bodyFont);
        font-size: var(--fontSizeP);
        color: var(--titleColor);
        font-size: 1rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        text-align: right;
        font-family: var(--bodyFont);

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                font-family: var(--bodyFont);
                color: var(--titleColor);
                font-size: 1rem;

            }
        }
    }
}

input {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    box-shadow: var(--shadows);
    padding: 1rem;
    color: var(--subTextColor);
}

input:focus {
    outline: 1px solid var(--CTAColor);
}



/* CARD ANIMATION */
.book-card-element {
    overflow: hidden;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.6s forwards;
}

.book-card-element:hover {
    transform: translateY(-5px);
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}