@import 'variables.css';
/* @import 'authors.css'; */
/* @import 'singlebook.css'; */


* {
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mainBg);

    main {
        font-family: var(--bodyFont);
        max-width: 1024px;
        margin: auto;
        padding-top: 82px;
        min-height: calc(100vh - 115px);
        padding: 100px 1rem 1rem 1rem;
    }
}

h1,
h2 {
    font-family: var(--headerFont);
    color: var(--titleColor);
    font-weight: var(--boldFontWeight);
}

h1 {
    padding-top: 1rem;
    font-size: var(--h1FontSizeMobile);
    
}

h2 {
    font-size: var(--h2FontSizeMobile);
}

/*heading font sizes on desktop*/
@media (min-width: 601px) {
h1 {
    font-size: var(--h1FontSizeDekstop);
    
}

h2 {
    font-size: var(--h2FontSizeDekstop);
}
}


p,
a,
ul,
li {
    text-decoration: none;
    font-family: var(--bodyFont);
    color: var(--titleColor);
    font-weight: var(--normalFontWeight);
}

.button {
    border: none;
    background-color: var(--CTAColor);
    color: var(--bookCardBg);
    padding: 1rem 4rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: var(--shadows);
    transition: 300ms;
    cursor: pointer;
    font-size: var(--fontSizeButton);
}

.button:hover {
    background-color: var(--CTAhover);
}


/*  NAV BAR  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    background-color: var(--mainBg);
    box-shadow: var(--shadows);
    z-index: 100;
    flex-wrap: wrap;
    text-align: center;

    #auth-links {

        flex: 1;
        ul {
            
            align-items: flex-end !important;
        }
    }

    .logo {
        flex: 1;
        height: 50px;
        width: auto;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        a {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 0.5rem;
            text-decoration: none;
            color: var(--titleColor);
            font-size: var(--fontSizeTitleCard);
            font-family: var(--headerFont);
            font-weight: var(--boldFontWeight);
        }
        div{

            img {
                height: 50px;
                width: 50px;
                
            }
        }
    }

    #burger-menu {
        display: none;
        cursor: pointer;
        flex-direction: column;
        gap: 4px;

        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: var(--titleColor);
            transition: 0.3s;
        }
    }

    ul {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;

        &.show {
            display: flex !important;
        }

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                font-family: var(--bodyFont);
                color: var(--titleColor);

            }

            button {
                border: none;
                background: none;
                color: var(--titleColor);
                box-shadow: none;
                font-size: 1rem;
                padding: 0;
            }

            button:hover {
                background: none;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 800px) {
        #burger-menu {
            display: flex;
        }

        ul {
            flex-direction: column;
            background: var(--mainBg);
            padding: 1rem;
            display: none;
            width: 100%;
            position: static;
        }
    }
}

/*##############*/

/*##############*/
.breadcrumb-container {
    padding: 1rem 0;

    ul.breadcrumb {
        breadcrumb {
            padding: 2rem 3rem;
            list-style: none;
        }

        li {
            display: inline;

            
        }

        li:last-of-type {
            font-weight: var(--boldFontWeight);
        }

        li+li:before {
            padding: 0.5rem;
            color: var(--titleColor);
            content: "/\00a0";
        }

        li a {
            color: var(--titleColor);
            text-decoration: none;
        }

        li a:hover {
            color: var(--titleColor);
            text-decoration: underline;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 112px;
    background-color: var(--mainBg);
    box-shadow: var(--shadows);
    align-items: center;


}

@media (min-width: 800px) {
    footer {
        flex-direction: row !important;

        p {
            text-align: center !important;
            order: 0;
        }

        ul {
            text-align: left !important;
        }
        li {
            text-align: right !important;
        }
    }
}

input {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    box-shadow: var(--shadows);
    padding: 1rem;
    color: var(--subTextColor);
}

input:focus {
    outline: 1px solid var(--CTAColor);
}


.hidden {
    display: none !important;
}


/* CARD ANIMATION */
.book-card-element {
    overflow: hidden;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.6s forwards;
}

.book-card-element:hover {
    transform: translateY(-5px);
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.inputError {
    outline: 1px solid var(--errorColor);
}

#messageCon {

    font-family: var(--bodyFont);
    color: var(--bookCardBg);
    background: var(--errorColor);
    padding: 0.5rem 1rem;
    border-radius: 1rem;

}

#messageCon.error {
    background: var(--errorColor);

}

#messageCon.error-text {
    background-color: none;
    color: var(--errorColor);
}

/* MODAL */

dialog {
    width: 80%;
    max-width: 1024px;
    height: 30%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    align-content: center;
    border: none;
    box-shadow: var(--shadows);

    #modalContent {

        header {
            gap: 1rem;
            padding: 0;

            h2 {
                margin-bottom: 0.4rem;
            }
        }

        .close {
            background-color: var(--bookCardBg) !important;
            color: var(--bodyTextColor) !important;
            border: none !important;
            box-shadow: none !important;
            position: absolute;
            padding: 0 !important;
            top: 4%;
            right: 4%;
            z-index: 100;
            font-size: 1.5rem;
        }
    }
}

.deleteBtn{
    background: var(--errorColor);
}
.deleteBtn:hover{
background-color: var(--errorColorHover);
}