@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    /* COLORS */
    --bookCardBg: #FFFFFF;
    --mainBg: #FAF5EF;
    --subTextColor: #5D5E5E;
    --titleColor: #1B263B;
    --CTAColor: #003AA7;
    --CTAhover: #3F5682;
    --bodyTextColor: #0D0D0E;
    --errorColor: rgb(255, 88, 88);
    --successColor: rgb(83, 180, 83);

    /* FONTS */
    --headerFont: Georgia, serif;
    --bodyFont: 'Open Sans', Arial, sans serif;

    --fontSizeTitleCard: 1.3rem;
    --fontSizeP: 0.8rem;
    --fontSizeMobileTitleCard: 1rem;
    --fontSizeMobileP: 0.6rem;

    --shadows: 2px 3px 10px 0px rgba(0, 0, 0, 0.26);
}